In [34]:
import sys
import pandas as pd
import pyspark.ml
from pyspark.sql import functions 
#from pyspark.sql.functions import *
from pyspark.sql.functions import col, sum, when, mean
from pyspark.sql.functions import count as spark_count
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler, StringIndexer

In [26]:
# Check Spark Version
spark.version

'3.2.4'

In [27]:
# Check Python Version
sys.version_info

sys.version_info(major=3, minor=10, micro=12, releaselevel='final', serial=0)

In [28]:
# Initialize a Spark session

spark = SparkSession.builder.appName("MLP").getOrCreate()

In [29]:
# Import dataset from hadoop file share and print data types for each column

df = spark.read.load('hdfs://localhost:9000/ca2/cirrhosis.csv', format="csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- N_Days: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Drug: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Ascites: string (nullable = true)
 |-- Hepatomegaly: string (nullable = true)
 |-- Spiders: string (nullable = true)
 |-- Edema: string (nullable = true)
 |-- Bilirubin: double (nullable = true)
 |-- Cholesterol: string (nullable = true)
 |-- Albumin: double (nullable = true)
 |-- Copper: string (nullable = true)
 |-- Alk_Phos: string (nullable = true)
 |-- SGOT: string (nullable = true)
 |-- Tryglicerides: string (nullable = true)
 |-- Platelets: string (nullable = true)
 |-- Prothrombin: string (nullable = true)
 |-- Stage: string (nullable = true)

In [30]:
# No built in method for getting shape using Pyspark, so combining count and length methods 
num_rows = df.count()
num_columns = len(df.columns)
print(f"rows: {num_rows}, columns: {num_columns}")

rows: 418, columns: 20

In [31]:
# View dataset in pandas format for ease of review
df.limit(5).toPandas()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261,2.60,156,1718,137.95,172,190,12.2,4
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302,4.14,54,7394.8,113.52,88,221,10.6,3
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176,3.48,210,516,96.1,55,151,12,4
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244,2.54,64,6121.8,60.63,92,183,10.3,4
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279,3.53,143,671,113.15,72,136,10.9,3

In [32]:
# Define a list of columns to convert to integer and float
columns_to_integer = ['N_Days', 'AGE', 'Cholesterol', 'Copper','Tryglicerides', 'Platelets', 'Stage']
columns_to_float = ['Albumin', 'SGOT', 'Prothrombin']

# Convert the specified columns to integer
for column in columns_to_integer:
    df = df.withColumn(column, col(column).cast("integer"))
    
# Convert the specified columns to float
for column in columns_to_float:
    df = df.withColumn(column, col(column).cast("float"))

In [33]:
# Show updated schema
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- N_Days: integer (nullable = true)
 |-- Status: string (nullable = true)
 |-- Drug: string (nullable = true)
 |-- AGE: integer (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Ascites: string (nullable = true)
 |-- Hepatomegaly: string (nullable = true)
 |-- Spiders: string (nullable = true)
 |-- Edema: string (nullable = true)
 |-- Bilirubin: double (nullable = true)
 |-- Cholesterol: integer (nullable = true)
 |-- Albumin: float (nullable = true)
 |-- Copper: integer (nullable = true)
 |-- Alk_Phos: string (nullable = true)
 |-- SGOT: float (nullable = true)
 |-- Tryglicerides: integer (nullable = true)
 |-- Platelets: integer (nullable = true)
 |-- Prothrombin: float (nullable = true)
 |-- Stage: integer (nullable = true)

In [24]:
# Iterate through all columns and check for null
for column in df.columns:
    null_count = df.where(df[column].isNull()).count()
    print(f"Column '{column}': {null_count} null values")

Column 'ID': 0 null values
Column 'N_Days': 0 null values
Column 'Status': 0 null values
Column 'Drug': 0 null values
Column 'Age': 0 null values
Column 'Sex': 0 null values
Column 'Ascites': 0 null values
Column 'Hepatomegaly': 0 null values
Column 'Spiders': 0 null values
Column 'Edema': 0 null values
Column 'Bilirubin': 0 null values
Column 'Cholesterol': 0 null values
Column 'Albumin': 0 null values
Column 'Copper': 0 null values
Column 'Alk_Phos': 0 null values
Column 'SGOT': 0 null values
Column 'Tryglicerides': 0 null values
Column 'Platelets': 0 null values
Column 'Prothrombin': 0 null values
Column 'Stage': 0 null values

In [25]:
# change 'Status' for observations = 0 representing deceased patients, this is our dependent variable
df = df.withColumn('Status',functions.when(df['Status']=='D',0).otherwise(1))

In [26]:
# Iterate through all columns and check for NA values, information obtained from dataset description
# https://archive.ics.uci.edu/dataset/878/cirrhosis+patient+survival+prediction+dataset-1
for column in df.columns:
    na_count = df.where(df[column] == "NA").count()
    print(f"Column '{column}': {na_count} 'NA' values")

Column 'ID': 0 'NA' values
Column 'N_Days': 0 'NA' values
Column 'Status': 0 'NA' values
Column 'Drug': 106 'NA' values
Column 'Age': 0 'NA' values
Column 'Sex': 0 'NA' values
Column 'Ascites': 106 'NA' values
Column 'Hepatomegaly': 106 'NA' values
Column 'Spiders': 106 'NA' values
Column 'Edema': 0 'NA' values
Column 'Bilirubin': 0 'NA' values
Column 'Cholesterol': 134 'NA' values
Column 'Albumin': 0 'NA' values
Column 'Copper': 108 'NA' values
Column 'Alk_Phos': 106 'NA' values
Column 'SGOT': 106 'NA' values
Column 'Tryglicerides': 136 'NA' values
Column 'Platelets': 11 'NA' values
Column 'Prothrombin': 2 'NA' values
Column 'Stage': 6 'NA' values

In [27]:
# Look at the % of NA values per column, any feature over 50%
# will be removed from dataframe

# Calculate the percentage of "NA" values for each column
missing_percentage = df.select([(spark_count(when(col(c) == 'NA', 1)).alias(c)) for c in df.columns])

total_rows = df.count()

# Calculate percentages
missing_percentage = missing_percentage.select(
    *[(col(c) / total_rows * 100).alias(c) for c in missing_percentage.columns]
)

# Display the result
missing_percentage.toPandas()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,0.0,0.0,0.0,25.358852,0.0,0.0,25.358852,25.358852,25.358852,0.0,0.0,32.057416,0.0,25.837321,25.358852,25.358852,32.535885,2.631579,0.478469,1.435407

In [37]:
# Deal with NA missing values in continous features but imputing mean and replacing missing values

# Specify the list of columns to impute the mean for
columns_to_impute = ['N_Days', 'AGE', 'Cholesterol', 'Copper','Tryglicerides', 'Platelets', 'Stage', 'Albumin', 'SGOT', 'Prothrombin']

# Calculate the mean for each specified column
mean_values = df.select([mean(col(column)).alias(column) for column in columns_to_impute]).collect()[0]

# Extract the mean values store ina a dictionary
mean_values_dict = mean_values.asDict()

# replace NA values with the mean from the previous calculation
for column in columns_to_impute:
    mean_value = mean_values_dict[column]
    df = df.withColumn(column, when(col(column) == 'NA', mean_value).otherwise(col(column).cast('double')))

In [38]:
for column in df.columns:
    na_count = df.where(df[column] == "NA").count()
    print(f"Column '{column}': {na_count} 'NA' values")

Column 'ID': 0 'NA' values
Column 'N_Days': 0 'NA' values
Column 'Status': 0 'NA' values
Column 'Drug': 106 'NA' values
Column 'AGE': 0 'NA' values
Column 'Sex': 0 'NA' values
Column 'Ascites': 106 'NA' values
Column 'Hepatomegaly': 106 'NA' values
Column 'Spiders': 106 'NA' values
Column 'Edema': 0 'NA' values
Column 'Bilirubin': 0 'NA' values
Column 'Cholesterol': 0 'NA' values
Column 'Albumin': 0 'NA' values
Column 'Copper': 0 'NA' values
Column 'Alk_Phos': 106 'NA' values
Column 'SGOT': 0 'NA' values
Column 'Tryglicerides': 0 'NA' values
Column 'Platelets': 0 'NA' values
Column 'Prothrombin': 0 'NA' values
Column 'Stage': 0 'NA' values

In [39]:
vectorAssembler = VectorAssembler(inputCols = ['N_Days','Status','Drug','AGE','Sex','Ascites','Hepatomegaly','Spiders','Edema','Bilirubin','Cholesterol','Albumin','Copper','Alk_Phos','SGOT','Tryglicerides','Platelets','Prothrombin','Stage'], outputCol = 'features')
df = vectorAssembler.transform(df)
df.show(5)

IllegalArgumentException: Data type string of column Status is not supported.
Data type string of column Drug is not supported.
Data type string of column Sex is not supported.
Data type string of column Ascites is not supported.
Data type string of column Hepatomegaly is not supported.
Data type string of column Spiders is not supported.
Data type string of column Edema is not supported.
Data type string of column Alk_Phos is not supported.

In [11]:
# Drop NA values for categorical features ??

In [12]:
# Determine feature correlation for dependent variable and take subset of features

In [13]:
# transform variables using vector assembler?